@using UL.Aria.Service.Configuration
@model UL.Aria.Service.Domain.View.TaskEmail
@{
	Layout = "~/Email/_Layout.cshtml";
	ViewBag.Title = "Task Assignment";
	var config = ViewBag.ServiceConfiguration as IServiceConfiguration;
    var editLink = string.Format("{0}Project/{1}/Task?action=%23edit_{2}", config.AriaRootUri, Model.ProjectId.ToString("N"), Model.TaskId.ToString("N"));
}

<p>Hello @Model.RecipientName,</p>
<p>
	@Model.ActorName has re-assigned the following task which was previously assigned to you, to another team member.
</p>
<p>
	<strong>Project</strong><br/>
	@Model.ProjectName
</p>
<p>
	<strong>Task</strong><br/>
	@Model.TaskName
</p>
<p>
	<strong>Due Date</strong><br/>
	@Model.EndDate
</p>
<p>
	&raquo; <a href="@editLink">See this task on the UL Portal</a>
</p>
<p>
	If you feel this change has been made in error, please contact <a href="mailto:@Model.ActorLoginId">@Model.ActorName</a>.
</p>
<p>
	Thank You,<br />
	UL Customer Support
</p>
